.food-item-confirm {
    background-color: #ebebeb;
    border-color: black;
    margin-bottom:5px;
}

.p2-bar{
    position:fixed;
    width:100%;
    z-index: 5;
   margin-bottom: 100px;
}

.burger img{
    margin-top:90px;
}

.confirm-items{
    background-color: #ebebeb;
    border-color: black;
    margin-bottom:20px !important;
}

.my-order-title {
    padding-top:40px;
    padding-bottom: 30px;
}

.section-confirm{
    padding:0px 60px;

    h5 {
        font-weight: 500;
    }
    
}

.total-section {
    padding-bottom: 120px;
}



